<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
        <img src="/images/daisy.jfif" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold">TPN PORTAL</h1>
            <p class="py-6">For bugs, issues, features please contact Zihan at corporate@develin.com.au</p>
            <a class="btn btn-primary" href="/products">Products</a>
            <a class="btn btn-primary" href="/multistore">multistore</a>
        </div>
    </div>
</div>