<div class="overflow-auto">
<table id="table" class="table">
    <thead>
        <tr>
            {{range .Headers}}
            <th>{{.}}</th>
            {{end}}
        </tr>
    </thead>
    <tbody id="tbody">
        {{$totalRows := len .Rows}}
        {{range $index, $row := .Rows}}
        {{if eq (add1 $index) $totalRows}} <!-- If it's the last row -->
        <tr 
            class="special-class-for-hx hover" 
            hx-get='/products' 
            hx-include="#data-input"
            hx-trigger="revealed" 
            hx-swap="afterend" 
            hx-select="#tbody>*"
        >
        {{else}} <!-- For all other rows -->
        <tr class="hover">
        {{end}}
            {{range $row}}
            <td>{{.}}</td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
</table>
</div>

<div id="pageLimit" hx-swap-oob="true" >
    <input type="hidden" value="{{.Page}}" name="page">
    <input type="hidden" value="{{.Limit}}" name="limit">
</div>